@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap');

body {
  font-family: 'Satoshi', sans-serif;
}

.background {
  background-color: #F8B8D0;
}

.google-login {
  width: 75%;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #595959;
  padding: 8px;
  border-radius: 4px;
  background-color: #f7aece;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.welcome {
  align-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: #595959;
  text-align: center;
  margin-top: 20px;
}

.logo-circle {
  width: 100px;
  padding: 25px;
  height: 100px;
  border-radius: 50%;
  background-color: #eee5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}


.form-container {
  display:grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
